name: CI

on:
  push:
    branches: [ main, feature/*, develop ]
  pull_request:
    branches: [ main, develop ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    
    - name: Set up JDK 21
      uses: actions/setup-java@v4
      with:
        java-version: '21'
        distribution: 'temurin'
    
    - name: Cache Gradle packages
      uses: actions/cache@v3
      with:
        path: |
          ~/.gradle/caches
          ~/.gradle/wrapper
        key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties') }}
        restore-keys: |
          ${{ runner.os }}-gradle-
    
    - name: Grant execute permission for gradlew
      run: chmod +x gradlew
    
    - name: Check code formatting
      run: ./gradlew spotlessCheck --no-daemon
    
    - name: Build with Gradle
      run: ./gradlew build --no-daemon
    
    - name: Upload JaCoCo coverage
      uses: codecov/codecov-action@v3
      with:
        file: ./build/reports/jacoco/test/jacoco.xml
        flags: unittests
        name: codecov-umbrella
        fail_ci_if_error: false

